[*.cs]
# dotnet_analyzer_diagnostic.severity = warning
dotnet_analyzer_diagnostic.CA1725.severity = hidden
dotnet_analyzer_diagnostic.IDE0008.severity = hidden
dotnet_analyzer_diagnostic.IDE0011.severity = hidden
dotnet_analyzer_diagnostic.IDE0058.severity = hidden
dotnet_analyzer_diagnostic.CA1051.severity = hidden
